body {
  background-color: #151515;
  color: white; 
  font-family: "Nunito", sans-serif; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  font-family: 'Roboto', sans-serif;
}

.dark-mode {
  background-color: #222;
  color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

.light-mode {
  background-color: #f0f0f0; 
  color: #222; 
  font-family: 'Roboto', sans-serif;
}
.search-section,
.fav-section,
.about-sec {
  background: #212121; 
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease; 

}
.dark-mode .fav-section {
  background-color: #212121;
  color: white;
}

.light-mode .fav-section {
  background-color: #f0f0f0;
  color: #222;
}
.dark-mode .about-sec {
  background-color: #212121;
  color: white;
}

.light-mode .about-sec {
  background-color: #f0f0f0;
  color: #222;
}
nav button{
  background-color: #212121;
  
}

.navbar {
  background-color: #151515;
  border-bottom: 2px solid #e50914;
  transition: background-color 0.3s ease;

}
.navbar-dark.bg-dark {
  background-color: #151515 !important;
}

.navbar-light.bg-light {
  background-color: #f8f9fa !important;
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
  color: #f0f0f0;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: #222;
}


.navbar-brand {
  color: #f0f0f0;
}
#search-form {
  margin-right: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}


#search-string {
  background-color: #333;
  color: #fff;
  border: 2px solid #e50914;
  padding: 1rem;
  border-radius: 8px;
  height: 50px;
  margin-top: 12px;
  width: 300px;
}



.result-section {
  margin-top: 100px;
}
.result-section h2 {
  color: #f0f0f0;
  text-align: center;
  padding: 20px 0px;
}

body.light-mode div#superhero {
  background: linear-gradient(135deg, #f0f0f0, #f0f0f0);
  border: 1px solid black;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}

body.dark-mode div#superhero {
  background: linear-gradient(135deg, black, black);
  border: 1px solid red;
  color: white;
}

div#superhero:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
div#superhero img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div#superhero button {
  background-color: #212121;
  color: #fff;
  border: 1px solid #4d4d4d;
  transition: background-color 0.3s ease;
}

div#superhero button:hover {
  background-color: #e50914;
  color: #fff; 
  transform: translateY(-2px);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media only screen and (max-width: 768px) {
  .search-container {
    width: 100% !important;
    padding: 50px;
  }

  div#superhero {
    width: 100%;
  }
}
